body {
	background-color: rgb(25, 25, 25);
	background-image: url("https://w.wallhaven.cc/full/96/wallhaven-9697jd.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/* background-color: white; */
	color: rgb(240, 240, 240);
	font-size: 16px;
	font-family: 'Microsoft YaHei Mono', 'Microsoft YaHei UI', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	margin-left: 0;
	margin-top: 0;

	transition: 0.25s;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(100, 100, 100, 0.2);
	transition: 0.25s;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(100, 100, 100, 0.5);
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}



div.preview-box {
	height: 100%;
	display: flex;
	flex-direction: row;

}

div.left-content {
	width: 25%;
	height: 100%;
	margin: 4px;
}

div.left-title {
	font-size: 28px;
	margin: 10px;
	text-align: center;
}

div.index-list {
	background-color: rgba(30, 30, 30, 0.9);
	width: 100%;
	height: 100%;
	padding: 0.1%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}




details {
	font-size: 18px;
	transition: 0.25s;
}

details:hover {
	padding-left: 4px;
}

li {
	margin-left: -20px;
	margin-top: 6px;
	margin-bottom: 6px;
	list-style-type: none;
}

div.list-item {
	transition: 0.25s;
}

div.list-item:hover {
	background-color: rgba(50, 60, 100, 0.8);
}

.code-class {
	color: rgb(79 201 177);
}

.code-interface {
	color: rgb(220 220 168);
	/* color: rgb(124 220 254); */
}




div.article-content {
	display: flex;
	width: 75%;
	height: 100%;
}

div.content-box {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 4px;

	background-color: rgba(28, 28, 28, 0.9);
	border-width: 2px;
	border-radius: 10px;
	border-color: rgba(50, 50, 50, 0.2);
	border-style: solid;
}

div.content-markdown {
	margin: 4px;
}








/*
div.index-sublist {
	width: 100%;
	display: flex;
	flex-direction: column;

	margin: 5px;
	border-color: #333;
	border-radius: 4px;
}

div.index-item {
	background-color: rgb(30, 30, 30);
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;

	overflow: hidden;
	margin-bottom: 2px;
	border-radius: 4px;

	transition: 0.3s;
}

div.index-item:hover {
	background-color: rgb(50, 50, 50);
}

div.item-title {
	display: flex;
}

div.hidden {
	display: none;
} 
*/